label.btn {
	cursor: pointer;
}

.dropdown.open-on-hover:hover > .dropdown-menu {
	display: block;
	margin-top: 0;
}

.dropdown-toggle.btn-block {
	text-align: left;
	white-space: initial;
}

.dropdown-toggle.btn-block::after {
	position: absolute;
	right: .75em;
	top: 1.155em;
}

.select .dropdown-toggle {
	border: 1px solid #ced4da;
}

.dropdown-menu {
	max-height: 80vh;
	overflow-y: auto;
}

ion-icon {
	font-size: 120%;
	vertical-align: sub;
}

.icon-xs {
	font-size: 1rem;
}

.icon-sm {
	font-size: 1.25rem;
}

.icon-md {
	font-size: 1.5rem;
}

.icon-lg {
	font-size: 1.75rem;
}

.icon-xl {
	font-size: 2rem;
}

.icon-xxl {
	font-size: 2.5rem;
}

.skinny-column {
	width: 1%;
	white-space: nowrap;
}

.input-group.full-width {
	> .input-group-prepend {
		flex-grow: 0;
	}
	
	> .input-group-append {
		flex-grow: 1;
		
		> button {
			width: 100%;
			text-align: left;
			
			&.dropdown-toggle::after {
				float: right;
				margin-top: 0.65em;
			}
		}
	}
}

/* checkbox in small input group */
.input-group-sm {
	.custom-checkbox {
		min-height: 1.3rem;
	}
	.custom-control-label::before {
		top: 0.2rem;
	}
}
